.headerlayout {
  color: #ffffff;
  font-size: 15px;
  list-style-type: none;
  display: block;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 5px;
}


.titlebox {

  color: white;
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  list-style-type: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 30%;
  background-color: transparent;

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index:50;

  letter-spacing: 2px;
}

.leftblackbox {

  background-color: black;
  width: 80%;
  display: block;
  padding: 15px;



}


.blackbox {
  background-color: black;
  padding: 65px;
  width: 100%;
  text-align: center;
  display: block;
  box-sizing: border-box;

}

.whitecontentbox {
  background-color: white;
  padding: 65px;
  width: 100%;
  text-align: center;
  box-sizing: border-box
}


.leftblackbox2 {
  padding: 45px;
  background-color: black;
  width: 75%;
  text-align: center;
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
}

.spacewrapper {
  background-color: transparent;
  padding: 100px;
}

.rightwhitebox {

  padding: 45px;
  background-color: white;
  width: 75%;
  text-align: center;
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
}


.textstyle {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}


.textstyle2 {
  color: black;
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;

}












.footerlayout{
  margin-left: auto;
  margin-right: auto;
  font-family: Knewave;
  color: #ffffff;
  font-size: 10px;
}
